.phong
	width: 100%
	height: auto
	background: #141E2B
	padding-top: 30px
	
	.phong1
		padding-left: 10%
		padding-right: 10%
	.p1
		background: #141E2B
		height: 420px
		
		border-right: 1px solid #1F2E42
		
		
		
		.icon
			width: 50px
			height: 50px
			font-size: 30px
			display: block
			background: #9966CC			
			text-align: center
			padding-top: 8px
			border-radius:10px 
			color:#fff
				
		h3.color-purple
			color: #A868DF
			font-size: 25px
			font-size: 20px
			    line-height: 30px
			    
		p
			color: #92939C
			font-size: 16px
		a
			text-align: center
			    text-decoration: none
			    text-transform: uppercase	
			    font-weight: 600	
			
		.button
			display:block
			color: #A868DF
			background: #1F2E42
			width: 120px
			height: 40px
			line-height: 40px
			border-radius:5px
			margin-top: 20px
			
			&:hover{
			background: #fff}
			
		
			    
			    	    
				

		
	.p2
		background:#141E2B
		height: 420px
		border-right: 1px solid #1F2E42
		
		
		
		.icon1
			width: 50px
			height: 50px
			font-size: 30px
			display: block
			background: #33FF99			
			text-align: center
			padding-top: 8px
			border-radius:10px 
			color:#fff
		h3.color-purple
			color: #33FF99
			font-size: 25px
			font-size: 20px
			    line-height: 30px
		p
			color: #92939C
			font-size: 16px
			
		a
			text-align: center
			    text-decoration: none
			    text-transform: uppercase	
			    font-weight: 600	
			
		.button1
			display:block
			color:  #33FF99
			background: #1F2E42
			width: 120px
			height: 40px
			line-height: 40px
			border-radius:5px
			margin-top: 20px
			
			&:hover{
			background: #fff}		    	
		


	.p3
		background: #141E2B
		height: 420px
		
			
	    
	    .icon2
			width: 50px
			height: 50px
			font-size: 30px
			display: block
			background: #0066CC			
			text-align: center
			padding-top: 8px
			border-radius:10px 
			color:#fff
		h3.color-purple
			color: #0066CC
			font-size: 25px
			font-size: 20px
			    line-height: 30px
		p
			color: #92939C
			font-size: 16px
			
		a
			text-align: center
			    text-decoration: none
			    text-transform: uppercase	
			    font-weight: 600	
			
		.button2
			display:block
			color:  #0066CC
			background: #1F2E42
			width: 120px
			height: 40px
			line-height: 40px
			border-radius:5px
			margin-top: 20px
			

			&:hover{
			background: #fff}	
			
    			
	
	
	

	
		
		
		
		
		
		
		
